<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OmniSurface UI</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div class="row">
            <h1 class="s-12">OmniSurface Media Browser</h1>
        </div>
        <div class="row">
            <div v-if="current_path !== '' && current_path !== '.'" class="s-6 m-3 l-2 media-card" @click="selectParentFolder($event)">
                <img src="images/parent_icon.png" alt="directory icon" />
                <p class="center-text">.. (go back)</p>
            </div>
            <div v-for="(dir, index) in media.folders" :id="'dir' + index" class="s-6 m-3 l-2 media-card" @click="selectFolder($event)">
                <img src="images/directory_icon.png" alt="directory icon" />
                <p class="center-text">{{ dir }}</p>
            </div>
            <div v-for="(file, index) in media.files" :id="'file' + index" class="s-6 m-3 l-2 media-card" @click="selectFile($event)">
                <img :src="'thumbnail/' + current_path + '/' + file" alt="360 media thumbnail" />
                <p class="center-text">{{ file }}</p>
            </div>
        </div>
    </div>
    
    <script type="module">
    const { createApp, ref, onMounted } = Vue;
    
    createApp({
        setup() {
            // Model data
            let current_path = ref('');
            let media = ref({folders:[], files: []});
            
            // Connect to WebSocket server
            const protocol = window.location.protocol === "https:" ? "wss:" : "ws:";
            const ws = new WebSocket(protocol + '//' + window.location.host);
            
            // WebSocket listeners
            ws.onopen = () => {
                console.log('Connected to WebSocket server!');
            };
            
            ws.onmessage = (event) => {
                console.log(event.data);
            };
        
            // Function: fetch current list of files/folders to select media from
            function fetchCurrentMedia() {
                fetch('/json/current-media')
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    console.log(data);
                    current_path.value = data.directory;
                    media.value = data;
                })
                .catch((error) => {
                    console.log(error);
                });
            }
            
            // Function: handle user selection of parent/go-back folder
            function selectParentFolder(event) {
                console.log('PARENT');
                ws.send('PARENT');
                fetchCurrentMedia();
            }
            
            // Function: handle user selection of folder
            function selectFolder(event) {
                let index = parseInt(event.currentTarget.id.substring(3));
                console.log('Clicked folder: ' + media.value.folders[index]);
                ws.send('FOLDER:' + media.value.folders[index]);
                fetchCurrentMedia();
            }
            
            // Function: handle user selection of media file
            function selectFile(event) {
                let index = parseInt(event.currentTarget.id.substring(4));
                console.log('Clicked file: ' + media.value.files[index]);
                ws.send('FILE:' + media.value.files[index]);
            }
            
            // On start-up: populate with initial media
            onMounted(() => {
                fetchCurrentMedia();
            });
            
            return { current_path, media, selectParentFolder, selectFolder, selectFile };
        }
    }).mount('#app');
    </script>
</body>
</html>
